html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    width: 100%;
}

p {
    font-weight: 400;
    margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

/* .slicknav_menu {
    display: block;
} */


/* HEADER CSS */

.logo-area {
    margin: 35px 0;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
}

#main-menu {
    width: 100%;
    margin: 30px auto;
}

#main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-menu ul li {
    display: inline-block;
}

#main-menu ul li:last-child {}

#main-menu ul li a {
    padding: 8px 20px;
    color: #3f4244;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}

#main-menu ul li:hover a {
    background: #57e9ca;
    color: #ffffff;
    border-radius: 5px;
}

#main-menu ul .active {
    background: #57e9ca;
    color: #ffffff;
    border-radius: 5px;
}

/* STICKY MENU */
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	z-index: 110;
	box-shadow: 0px -5px 10px 5px #444;
}
.sticky .logo-area{
    margin: 15px 0;
}

.sticky #main-menu{
    margin: 10px 0;
}

/* HERO AREA CSS */

#hero-area {
    background: linear-gradient(rgba(75,222,204,0.9),rgba(75,222,204,0.9)),url(css/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 75vh;
}

.hero-text {}

.hero-text h1 {
    color: #fff;
    font-weight: 300;
    font-size: 60px;
}

.btn {
    background: #ff5e55;
    color: #ffffff;
    margin-top: 50px;
    padding: 13px 30px;
    border: 0px solid;
    outline: 0;
    border-radius: 10px;
    transition: 0.5s;
}
.btn:hover {
    background: #ec261b;
}


/* SERVICES AREA CSS STYLE */

#srvices-area {
    padding: 40px 0;
    width: 100%;
    background: #ffffff;
}

#srvices-area a {
    color: #ffffff;
}

#srvices-area a i::before {
    display: inline-block;
    background: #59ebca;
    width: 75px;
    height: 75px;
    font-size: 32px;
    padding: 20px;
    border-radius: 50%;
    transition: 0.7s;
    text-align: center;
}

#srvices-area a:hover i::before {
    background: #ff5e55;
    transform: rotate(360deg);
}

#srvices-area h3 {
    color: #3f4244;
    font-weight: 500;
    font-size: 15px;
    margin-top: 25px;
}

#srvices-area p {
    font-size: 13px;
    color: #929ba0;
}


/* browser-area css */

#browser-area {
    background: linear-gradient(rgba(255,92,85,0.9),rgba(255,92,85,0.9)),url(css/img/browser-bg.jpg);
    background-repeat: repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 40px;
}

#browser-area h3 {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

#browser-area p {
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    width: 50%;
    margin: 0 auto;
}

#browser-area img {
    margin-top: 100px;
}


/* phone-add-area css */

#phone-add-area {
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url(css/img/app-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    padding: 40px 0;
}

#phone-add-area img {
    float: right;
    display: block;
}

#phone-add-area h2 {
    font-size: 40px;
    font-weight: 400;
}

#phone-add-area p {
    font-size: 15px;
    font-weight: 300;
    color: #929ba0;
}

#phone-add-area .col-md-6:last-child {
    padding-left: 40px;
    text-align: left;
}

#portfolio-area {
    text-align: center;
    background:linear-gradient(rgba(81,228,203,0.9),rgba(81,228,203,0.9)), url(css/img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0;
}

#portfolio-area .col-md-12 {
    color: #ffffff;
}

#portfolio-area .col-md-12 h2 {
    font-weight: 400;
    font-size: 40px;
}

#portfolio-area .col-md-12 p {
    width: 70%;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 300;
}

#portfolio-area .nav-filter {
    margin-top: 40px;
    margin-bottom: 15px;
}

.nav-filter button {
	background: none;
	border: navajowhite;
	cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    outline: none;
}
.nav-filter button:hover {
    color: #ffffff;
    outline: none;
}

#portfolio-area .col-md-4 {
    margin-bottom: 30px;
}

#portfolio-area .text-area {
    background: #ffffff;
    padding: 10px;
}

#portfolio-area .text-area h4 {
    color: #3f4244;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#portfolio-area .text-area p {
    color: #929ba0;
    font-size: 13px;
    font-weight: 400;
}

#portfolio-area .work img {
    width: 100%;
    height: auto;
}

#portfolio-area a {
    display: block;
    width: 100%;
}

#portfolio-area a i::before {
    background: #fff;
    color: #4ddfcc;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
}

#portfolio-area a:hover i::before {
    transform: rotate(360deg);
    background: #ff5e55;
}

/* STATS AREA CSS */
#stats-area{
    background: #233537;
    padding: 60px 0;
}
#stats-area img{
    margin-bottom: 35px;
    display: inline-block;
}
#stats-area h3{
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
}
#stats-area p{
    font-size: 13px;
    font-weight: 400;
    color: #10cab7;
    text-transform: uppercase;
}
/* TEAM AREA CSS STYLE */
#team-area{
    padding: 40px 0;
}
#team-area .col-md-12 h2{
    color: #3f4244;
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}
#team-area .col-md-12 p{
    color: #929ba0;
    font-size: 13px;
    font-weight: 400;
    width: 60%;
    margin: 10px auto;

}
.team-member {
	margin-top: 60px;
}
.team-member img {
	width: 100%;
	display: block;
}
.team-member .details {
	background: linear-gradient(rgba(78,225,203,0.5),rgba(78,225,203,1.0));
	padding: 10px;
}
.team-member h4 {
	font-size: 20px;
	color: #3f4244;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 6px;
}
.team-member strong {
	color: #fff;
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 20px;
	display: block;
}
.team-member p {
	font-size: 15px;
	color: #3f4244;
	font-weight: 400;
}

/* QUOTA CSS */

#quota-area{
    background: #ff4c56;
    padding: 80px 0;
    color: #ffffff;
}

#quota-area h4{
    font-size: 20px;
    font-weight: 400;
}

#quota-area p {
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 0;
}


/* NEWSLETTER CSS */

#newsletter-area{
    padding: 60px 0;
    width: 100%;
    background: #233537;
    color: #ffffff;
}

#newsletter-area h4{
    font-size: 20px;
    font-weight: 400;
}
.btn-subbuscribe {
	border: 1px solid #63f5c8;
	padding: 15px 50px;
	background: none;
	color: #fff;
	margin-top: 30px;
	font-size: 13px;
    cursor: pointer;
    transition: 0.5s;
}
.btn-subbuscribe:hover {
	border: 1px solid #ff4c56;

}
/* ABOUT AREA CSS */
#about-area{
    padding: 50px 0;
}
#about-area img {
    float: right;
    width: 100%;
    height: auto;
}
#about-area .about-text {
	padding-left: 60px;
	text-align: left;
}
.about-text h4 {
	font-size: 20px;
	color: #3f4244;
	font-weight: 500;
}
.about-text p {
	font-size: 13px;
	color: #929ba0;
	font-weight: 400;
}

/* PHONE ADD CSS */
    #add-area{
        background: linear-gradient(rgba(87,233,202,0.9), rgba(87,233,202,0.9)), url(css/img/mordan-designe.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 40px 0;

    }
    #add-area img {
        float: right;
        margin-top: 100px;
        margin-bottom: -100px;
    }
    #add-area .add-text{
        padding-left: 60px;
        margin-top: 200px;
    }
    .add-text h4 {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .add-text span {
        font-size: 15px;
        display: block;
        color: #243638;
        font-weight: 400;
    }

    .add-text p {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        margin: 20px 0;
    }
/* CLIENT CSS */
#client-area{
    padding: 40px 0;
}
.client-text{
    margin-top: 70px;
}
.client-text h3{
    font-size: 40px;
    color: #3f4244;
    font-weight: 400;
}
.client-text p{
    color: #929ba0;
    font-size: 13px;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
}
#client-area .client{
    margin-top: 40px;
}
.client .client-details{
    background: #51e4cb;
}
.client .client-details h4 {
	margin-bottom: 5px;
}
.role{
    font-size: 13px;
    font-weight: 400;
    color: #243638;
}

/* CONTACT CSS */
#contact-area{
    padding: 40px 0;
    background: linear-gradient(rgba(255,80,86,0.9),rgba(255,80,86,0.9)), url(css/img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.contact-text h3{
    font-size: 40px;
    color: #fff;
    font-weight: 400;
}
.contact-text p{
    width: 60%;
    margin: 0 auto;
    font-size: 13px;
    color: #fff;
    font-weight: 300;
}

#contact-area form{
    width: 60%;
    margin: 0 auto;
    margin-top: 80px;
}
#contact-area form input {
	border-radius: 0px;
	border: 1px solid #ffffff;
	background: none;
	outline: 0;
	display: block;
	width: 100%;
	padding: 10px;
}
#contact-area form input::placeholder{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}
/* RESPONSIVE CSS */

form button {
	border: 0;
	outline: 0;
	padding: 10px 30px;
	background: #233537;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}
.form-group {
	margin-top: 2rem;
}
@media only screen and (min-width:200px) and (max-width:768px) {
    /* .sticky {
        display: none;
    }
    #main-menu {
        display: none;
    }
    .logo-area {
        margin: 15px 0;
    }
    #browser-area img {
        margin: 10px auto auto;
        width: 50%;
    } */
}